<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 offset-md-2">
      <form [formGroup]="productsForm">
        <div class="mb-3">
          <label for="exampleFormControlInputImg" class="form-label"
            >Imagen</label
          >
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInputImg"
            formControlName="image"
          />
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Nombre de Producto</label
          >
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            formControlName="name"
          />
        </div>

        <div class="mb-3">
          <label for="exampleForm" class="form-label"
            >Unidad</label
          >
          <input
            type="number"
            class="form-control"
            id="exampleForm"
            formControlName="unit"
          />
        </div>

        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Descripcion</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            formControlName="description"
          ></textarea>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <input
            type="number"
            class="form-control"
            aria-label="Amount (to the nearest dollar)"
            formControlName="price"
          />
          <span class="input-group-text">.00</span>
        </div>

        <button type="button" class="btn btn-success" (click)="save()">
          Agregar
        </button>
      </form>
    </div>
  </div>
</div>
